@charset "utf-8";


/*
.header{
    height: 110px;
    width: 100%;



}

.header .nav{
   width: 1200px;
    margin: 0 auto;
    height: 100%;

}
.header .nav ul{
    overflow: hidden;
}
.header .nav ul li{
    float: left;
    padding-left: 80px;
    text-align: center;
    line-height: 150px;
    cursor: pointer;
    transition: 0.5s;
}
.header .nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.header .nav ul li a img{
    width: 100px;
    height: 90px;
    margin-top: 15px;
}
*/


